@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1481549923378');
  /* IE9*/
  src: url('iconfont.eot?t=1481549923378#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('iconfont.woff?t=1481549923378') format('woff'),
    /* chrome, firefox */
    url('iconfont.ttf?t=1481549923378') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1481549923378#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e601";
}

.icon-setting:before {
  content: "\e602";
}

.icon-book:before {
  content: "\e605";
}

.icon-plus:before {
  content: "\e611";
}

.icon-alert:before {
  content: "\e67d";
}

.icon-check:before {
  content: "\e666";
}

.icon-trash:before {
  content: "\e7c5";
}

.icon-androidcamera:before {
  content: "\e6d9";
}

.icon-phone:before {
  content: "\e625";
}

.icon-attachment:before {
  content: "\e60d";
}

.icon-pencil:before {
  content: "\e65f";
}

.icon-cancel:before {
  content: "\e623";
}

.icon-camera:before {
  content: "\e705";
}

.icon-location:before {
  content: "\e6f0";
}

.icon-save:before {
  content: "\ecea";
}

.icon-about:before {
  content: "\e71e";
}

.icon-arrow-right:before {
  content: "\e694";
}

.icon-search:before {
  content: "\e60f";
}

.icon-smile:before {
  content: "\e61b";
}

.icon-bookmark:before {
  content: "\e6f8";
}

.icon-list:before {
  content: "\e610";
}

.icon-bookmark1:before {
  content: "\e600";
}

.icon-ellipsis:before {
  content: "\e60e";
}

.icon-theme:before {
  content: "\e653";
}

.icon-sun:before {
  content: "\e607";
}

.icon-rainy:before {
  content: "\e608";
}

.icon-cloudy:before {
  content: "\e609";
}

.icon-overcast:before {
  content: "\e60a";
}

.icon-thunderstorm:before {
  content: "\e60b";
}

.icon-snowfall:before {
  content: "\e60c";
}

.icon-unhappy:before {
  content: "\e644";
}
